
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color:white;
    border-radius: 5px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 10px;
     padding-top: 10px;
}

.i{
      display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
     gap: 400px;

}
.list{
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    list-style: none;
}
nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 8px;
     border-radius: 5px;
     color: #f0f8ff;
     font-size: larger  ;
    background-color: black;
    cursor: pointer;
}
nav li:hover{
    background-color: white;
    color: red;
    transition: 1s;

}

.navbarMenuIcon{
    height: 20px;
    width: 19px;
}
.navbar-toggle{
    display: none;
}
@media (max-width: 768px) {
    nav{
        display: flex;
        justify-content: space-between;
    }
    .navbar-toggle {
        display: flex;
    }

    .i, .i.active {
        flex-direction: column;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .i.active {
        display: flex;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        padding: 20px;
        z-index: 1000;
    }

}
.footerSec {
  background-color: #f8f9fa;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row1{
   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  gap: 100px ;
  text-align: justify;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footerlogo {
  text-align: center;
}

.footerlogo img {
 
  max-width: 100%;
  height: auto;
}

.my-p1-class {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.socialiconf,
.socialicon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #333;
  transition: transform 0.3s ease;
}

.socialiconf:hover,
.socialicon:hover {
  transform: scale(1.2);
}

.text-uppercase {
  text-transform: uppercase;
}

.fw-bold {
  font-weight: bold;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.black-text {
  color: #333;
}

.my-custom-class {
  margin-bottom: 10px;
}

.no-underline {
  text-decoration: none;
  color: inherit;
}

.text-black {
  color: #333;
}

.black-icon {
  color: #333;
}

@media (max-width: 768px) {
  .col-md-6 {
    width: 100%;
  }
  .row1{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
